<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" type="text/css" href="/home/tyler/Desktop/Hackathon website/hacka_web_server/css/hackathonStyle.css"> -->
    <link rel="stylesheet" type="text/css" href="css/hackathonStyle.css">
    <title>Snapback</title>
</head>

<body>
	<h1>SNAPBACK</h1>
	<h2>Press the Button Below to View Your Videos</h2>
	<a class="btnIndex" href="/videos">View Videos</a>
</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li>{{ item }}</a></li>
    {% endfor %}
    </ul>
</body>
</html> -->
